<a href="https://colab.research.google.com/github/mahfuz978/TECH-I.S.---DATA-PROCESSING/blob/main/Mahfuzur_Rahman_Step_1_4c_Pandas_Grouping_and_Sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# read the csv from drive(google drive in this case)
df = pd.read_csv('/content/drive/MyDrive/Tech IS/Data Processing/train.csv')
df.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [3]:
df.groupby('Neighborhood').Neighborhood.count()

Neighborhood
Blmngtn     17
Blueste      2
BrDale      16
BrkSide     58
ClearCr     28
CollgCr    150
Crawfor     51
Edwards    100
Gilbert     79
IDOTRR      37
MeadowV     17
Mitchel     49
NAmes      225
NPkVill      9
NWAmes      73
NoRidge     41
NridgHt     77
OldTown    113
SWISU       25
Sawyer      74
SawyerW     59
Somerst     86
StoneBr     25
Timber      38
Veenker     11
Name: Neighborhood, dtype: int64

In [4]:
df.Neighborhood.value_counts()

NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
StoneBr     25
SWISU       25
Blmngtn     17
MeadowV     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: Neighborhood, dtype: int64

In [5]:
# Least lot area in each neighborhood
df.groupby('Neighborhood').LotArea.min()

Neighborhood
Blmngtn    3010
Blueste    1300
BrDale     1680
BrkSide    4130
ClearCr    2887
CollgCr    4426
Crawfor    3842
Edwards    2522
Gilbert    7415
IDOTRR     3636
MeadowV    1477
Mitchel    4500
NAmes      4058
NPkVill    2280
NWAmes     8400
NoRidge    9200
NridgHt    2268
OldTown    2500
SWISU      4500
Sawyer     6173
SawyerW    7018
Somerst    2117
StoneBr    3696
Timber     6853
Veenker    9549
Name: LotArea, dtype: int64

In [6]:
import numpy as np
# check the first year that appears for each neighborhood
df.groupby('Neighborhood').apply(lambda x: x.YearBuilt.iloc[0])

Neighborhood
Blmngtn    2005
Blueste    1980
BrDale     1971
BrkSide    1939
ClearCr    1953
CollgCr    2003
Crawfor    1915
Edwards    1955
Gilbert    1997
IDOTRR     1930
MeadowV    1976
Mitchel    1993
NAmes      1960
NPkVill    1976
NWAmes     1973
NoRidge    2000
NridgHt    2005
OldTown    1931
SWISU      1939
Sawyer     1965
SawyerW    2004
Somerst    2004
StoneBr    2006
Timber     1959
Veenker    1976
dtype: int64

In [7]:
# data to find the best conditon based on neighborhood and year built 
df.groupby(["Neighborhood", "YearBuilt"]).apply(lambda x: x.loc[x.OverallCond.idxmax()])

                         Id  MSSubClass  ... SaleCondition  SalePrice
Neighborhood YearBuilt                   ...
Blmngtn      2003       560         120  ...        Normal     234000
             2004       386         120  ...        Normal     192000
             2005       220         120  ...       Partial     167240
             2006       444         120  ...       Partial     172500
             2007       983          20  ...        Normal     159895
...                     ...         ...  ...           ...        ...
Veenker      1981        54          20  ...        Normal     385000
             1984       161          20  ...        Normal     162500
             1993       327         120  ...        Normal     324000
             1995       765         120  ...        Normal     270000
             1996       401         120  ...        Normal     245500

[501 rows x 81 columns]

In [8]:
df.groupby("Neighborhood").SalePrice.agg([len,min,max])

              len     min     max
Neighborhood
Blmngtn        17  159895  264561
Blueste         2  124000  151000
BrDale         16   83000  125000
BrkSide        58   39300  223500
ClearCr        28  130000  328000
CollgCr       150  110000  424870
Crawfor        51   90350  392500
Edwards       100   58500  320000
Gilbert        79  141000  377500
IDOTRR         37   34900  169500
MeadowV        17   75000  151400
Mitchel        49   84500  271000
NAmes         225   87500  345000
NPkVill         9  127500  155000
NWAmes         73   82500  299800
NoRidge        41  190000  755000
NridgHt        77  154000  611657
OldTown       113   37900  475000
SWISU          25   60000  200000
Sawyer         74   62383  190000
SawyerW        59   76000  320000
Somerst        86  144152  423000
StoneBr        25  170000  556581
Timber         38  137500  378500
Veenker        11  162500  385000

In [9]:
# get the number of building types per year
building_types_in_the_neighborhood_per_year = df.groupby(["Neighborhood", "YearBuilt"]).BldgType.agg([len])
building_types_in_the_neighborhood_per_year.head(5)

                        len
Neighborhood YearBuilt
Blmngtn      2003         2
             2004         2
             2005         6
             2006         4
             2007         3

In [10]:
# check the type of index of this dataset
type(building_types_in_the_neighborhood_per_year.index)

pandas.core.indexes.multi.MultiIndex

In [11]:
x = building_types_in_the_neighborhood_per_year.reset_index()
x

    Neighborhood  YearBuilt  len
0        Blmngtn       2003    2
1        Blmngtn       2004    2
2        Blmngtn       2005    6
3        Blmngtn       2006    4
4        Blmngtn       2007    3
..           ...        ...  ...
496      Veenker       1981    1
497      Veenker       1984    1
498      Veenker       1993    1
499      Veenker       1995    1
500      Veenker       1996    1

[501 rows x 3 columns]

In [12]:
#check type of index of this data 
type(x.index)

pandas.core.indexes.range.RangeIndex

In [13]:
# sort values by length
x.sort_values(by='len')

    Neighborhood  YearBuilt  len
250      Mitchel       2007    1
251        NAmes       1918    1
499      Veenker       1995    1
249      Mitchel       2006    1
248      Mitchel       2004    1
..           ...        ...  ...
269        NAmes       1960   15
82       CollgCr       2004   17
267        NAmes       1958   17
452      Somerst       2006   18
268        NAmes       1959   19

[501 rows x 3 columns]

In [14]:
# sort values by 'len' in descending order
x.sort_values(by='len', ascending=False)

    Neighborhood  YearBuilt  len
268        NAmes       1959   19
452      Somerst       2006   18
82       CollgCr       2004   17
267        NAmes       1958   17
269        NAmes       1960   15
..           ...        ...  ...
211       IDOTRR       1950    1
210       IDOTRR       1949    1
209       IDOTRR       1941    1
208       IDOTRR       1940    1
500      Veenker       1996    1

[501 rows x 3 columns]

In [15]:
# sort by index
x.sort_index()

    Neighborhood  YearBuilt  len
0        Blmngtn       2003    2
1        Blmngtn       2004    2
2        Blmngtn       2005    6
3        Blmngtn       2006    4
4        Blmngtn       2007    3
..           ...        ...  ...
496      Veenker       1981    1
497      Veenker       1984    1
498      Veenker       1993    1
499      Veenker       1995    1
500      Veenker       1996    1

[501 rows x 3 columns]

In [17]:
# sort by neighborhood and length
x.sort_values(by = ['Neighborhood', 'len'])

    Neighborhood  YearBuilt  len
0        Blmngtn       2003    2
1        Blmngtn       2004    2
4        Blmngtn       2007    3
3        Blmngtn       2006    4
2        Blmngtn       2005    6
..           ...        ...  ...
497      Veenker       1984    1
498      Veenker       1993    1
499      Veenker       1995    1
500      Veenker       1996    1
493      Veenker       1976    3

[501 rows x 3 columns]